[Unit]
Description=Django Application
After=network.target

[Service]
User=podcaster
Group=podcaster
WorkingDirectory=/home/podcaster
ExecStart=/home/podcaster/devops/start_prod.sh
EnvironmentFile=/home/podcaster/.env.production

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
