[Unit]
Description=Django Application
After=network.target

[Service]
User=podcaster
Group=podcaster
WorkingDirectory=/home/podcaster
ExecStart=/home/podcaster/venv/bin/gunicorn podcaster.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 120
EnvironmentFile=/home/podcaster/.env.production

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
