{% extends "base.html" %} {% block content %}

<h1>{{ podcast.title }}</h1>
<a href="{% url 'bulk_add_episodes' pk=podcast.pk %}">Bulk add episodes</a>
<ol>
  {% for episode in episodes_not_listened %}
  <p>{% include "podcasts/snippets/episode_list_item.html" %}</p>
  <hr />
  {% endfor %}
</ol>
<br />
<ol>
  {% for episode in episodes_listened %}
  <p>{% include "podcasts/snippets/episode_list_item.html" %}</p>
  {% endfor %}
</ol>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const episodeAudios = document.querySelectorAll(".episode-audio");

    for (let i = 0; i < episodeAudios.length; i++) {
      const audio = episodeAudios[i];

      audio.addEventListener("ended", async function () {
        const toggleUrl = audio.dataset.toggleUrl;

        try {
          await fetch(toggleUrl, {
            method: "POST",
            headers: {
              "X-CSRFToken": getCSRFToken(),
              "X-Requested-With": "XMLHttpRequest",
            },
          });
        } catch (err) {
          console.error("Błąd toggle:", err);
          return;
        }

        const nextAudio = episodeAudios[i + 1];
        if (nextAudio) {
          nextAudio.play();
        }
      });
    }

    function getCSRFToken() {
      const name = "csrftoken";
      const cookies = document.cookie.split(";");

      for (let cookie of cookies) {
        cookie = cookie.trim();
        if (cookie.startsWith(name + "=")) {
          return decodeURIComponent(cookie.slice(name.length + 1));
        }
      }
      return "";
    }
  });
</script>

{% endblock content %}
